
.checked {
    color: orange;
  }
  table{
    padding: 50px;
    margin: 2px; 
    width: 100%;   
 }
 #email{
    width: 380px;
 }
 th,td{
   margin-right: 10px;
  padding: 10px 20px; 
  justify-content: space-evenly;
 }
.comment-box input{
  width: 100%;
  padding: 10px;
  background-color: lightgrey;
  border: 2px solid black;
  height: 100px;
}