
#form{
  margin: 10px;
  padding: 30px;
  background-color: lightseagreen;

}
.checked {
    color: orange;
  }
  table{
    padding: 50px;
    margin: 2px; 
    width: 100%;   
 }
 #email{
    width: 380px;
 }
 th,td{
 
   margin-right: 10px;
  padding: 10px 20px; 
  justify-content: space-evenly;
 }
#comment:hover{
  background-color: blanchedalmond;
}
.btn:hover{
  background-color: lightgreen;
  color:black;
}